@section styles {
    <link rel="stylesheet" href="~/css/familytree.css" />
}
@{
    ViewData["Title"] = "Family Tree";
    var tree = ViewBag.Tree;
    var simId = ViewBag.Sim.SimId;
}
<a href="/Home/SimList">Home</a>
<a href="/sim/@simId">Back</a>
@Html.Raw(tree)
