@section styles {
    <link rel="stylesheet" href="~/css/simlist.css" />
}
@{
    ViewData["Title"] = "Imported";
    var simList = ViewBag.SimList;
}


<h1>Your Sims</h1>
<table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in simList)
        {

            @if (!(record.FirstName == "" && record.LastName == "" && record.SimDescription == ""))
            {

                <tr>
                    <td><a href="/sim/@record.SimId">@record.FullName</a></td>
                    <td>@record.SimDescription</td>
                </tr>

            }
        }
    </tbody>
</table>